@model DatabaseAccess.StudentTable

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "StudentTables", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.HiddenFor(model => model.StudentID)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card mb-4 shadow">
        <div class="card-header">
            學生資料
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, "學生姓名", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nationality, "國籍", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Religion, "地區", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.Religion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CNIC, "身份證字號", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.CNIC, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CNIC, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DateofBirth, "出生日期", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.DateofBirth, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateofBirth, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, "性別", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ContactNo, "聯絡方式", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailAddress, "Email", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, "地址", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SessionID, "選擇年度", htmlAttributes: new { @class = "control-label" })

                        @Html.DropDownList("SessionID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SessionID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProgrameID, "選擇科系", htmlAttributes: new { @class = "control-label" })

                        @Html.DropDownList("ProgrameID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgrameID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ClassID, "選擇班級", htmlAttributes: new { @class = "control-label" })

                        @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClassID, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhotoFile, "照片", htmlAttributes: new { @class = "control-label" })
                        <span class="btn btn-default btn-file">
                            @Html.TextBoxFor(model => model.PhotoFile, new { type = "file" })
                        </span>
                    </div>
                </div>



                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TribeorCaste, "是否為原住民", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.TribeorCaste, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TribeorCaste, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PreviousSchool, "畢業學校", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.PreviousSchool, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PreviousSchool, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PreviousPercentage, "畢業排名", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.PreviousPercentage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PreviousPercentage, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.AdmissionDate, "註冊日期", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.AdmissionDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdmissionDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4 shadow">
        <div class="card-header">
            其他資訊
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FatherName, "父親姓名", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FathersGuardiansOccupationofProfession, "父親職業", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.FathersGuardiansOccupationofProfession, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FathersGuardiansOccupationofProfession, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneOffice, "工作電話", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.PhoneOffice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneOffice, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneResident, "住家電話", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.PhoneResident, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneResident, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FathersGuardiansPostalAddress, "戶籍地址", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.FathersGuardiansPostalAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FathersGuardiansPostalAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FNIC, "其他", htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.FNIC, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FNIC, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>

}
