@model IEnumerable<DatabaseAccess.StudentTable>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">學生列表</h6>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            姓名
                        </th>
                        <th>
                            父親
                        </th>
                        <th>
                            聯絡方式
                        </th>
                        <th>
                            照片
                        </th>
                        <th>
                            班級
                        </th>
                        <th>
                            修改者
                        </th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FatherName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNo)
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Photo))
                                {
                                    <img src="@Url.Content(item.Photo)" alt="Image" style="width:100px;height:150px;max-width:100px;height:auto" />
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClassTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.FullName)
                            </td>
                            <td>
                                @Html.ActionLink("編輯", "Edit", new { id = item.StudentID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("內容", "Details", new { id = item.StudentID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("出勤", "StudentAttendance", "AttendanceReports", new { id = item.StudentID }, new { @class = "btn btn-secondary", target = "_blank" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
