@model DatabaseAccess.EmployeeSalaryTable

@{
    ViewBag.Title = "Details";
}
<div>
    <h4>員工薪資</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            月數
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            月薪
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryMonth)
        </dd>

        <dt>
            年薪
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryYear)
        </dd>

        <dt>
            發薪日
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryDate)
        </dd>

        <dt>
            補充說明
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            登入人員
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

        <dt>
            員工姓名
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffTable.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.EmployeeSalaryID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
</p>
