@model DatabaseAccess.StaffAttendanceTable

@{
    ViewBag.Title = "Details";
}
<div>
    <h4>教職員出勤</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendDate)
        </dd>

        <dt>
            簽到
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComingTime)
        </dd>

        <dt>
            簽退
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingTime)
        </dd>

        <dt>
            姓名
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffTable.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.StaffAttendanceID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
</p>
