@model IEnumerable<DatabaseAccess.StaffAttendanceTable>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">全體教職員出勤</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            員編
                        </th>
                        <th>
                            姓名
                        </th>
                        <th>
                            日期
                        </th>
                        <th>
                            簽到
                        </th>
                        <th>
                            簽退
                        </th>

                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StaffTable.StaffID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StaffTable.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AttendDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ComingTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClosingTime)
                        </td>

                        <td>
                            @Html.ActionLink("編輯", "Edit", new { id = item.StaffAttendanceID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("內容", "Details", new { id = item.StaffAttendanceID }, new { @class = "btn btn-info" })
                            @Html.ActionLink("刪除", "Delete", new { id = item.StaffAttendanceID }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                    }

            </table>
        </div>
    </div>
</div>
