@model DatabaseAccess.ExamTable

@{
    ViewBag.Title = "Delete";
}

<h3 class="text-danger">確定要刪除嗎?</h3>
<div>
    <h4>課程</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            考試名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            開始日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            結束日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            描述
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrption)
        </dd>

        <dt>
            登入人員
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" />
    @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
</div>
    }
</div>
