@model DatabaseAccess.ExamTable

@{
    ViewBag.Title = "Details";
}
<div>
    <h4>考試</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            考試名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            開始日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            結束日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            描述
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrption)
        </dd>

        <dt>
            登入人員
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.ExamID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
</p>
