@model DatabaseAccess.ProgrameSessionTable

@{
    ViewBag.Title = "Configuration";
}
<div>
    <h4>系上課程</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            學年度
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionTable.Name)
        </dd>

        <dt>
            科系
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgrameTable.Name)
        </dd>

        <dt>
            課程
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            課程時間
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegDate)
        </dd>

        <dt>
            描述
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            登入人員
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.ProgrameSessionID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
</p>
