@model DatabaseAccess.UserTable

@{
    ViewBag.Title = "使用者";
}
<div>
    <h4>使用者</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            真實姓名
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            帳號名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            聯絡方式
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            地址
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            使用者角色
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTypeTable.TypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.UserID }, new { @class="btn btn-primary"}) 
    @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
</p>
