@model DatabaseAccess.UserTable

@{
    ViewBag.Title = "使用者";
}

<h2>使用者</h2>

<div>
    <h4>UserTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Full Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            User Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Contact No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            Email Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            User Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTypeTable.TypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, new { @class="btn btn-primary"}) 
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
