@model IEnumerable<DatabaseAccess.UserTable>

@{
    ViewBag.Title = "Users";
}

<p>
    @Html.ActionLink("新增", "Create",null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">使用者角色</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                           真實姓名
                        </th>
                        <th>
                            帳號名稱 
                        </th>
                        <th>
                            聯絡方式
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            地址
                        </th>
                        <th>
                            角色
                        </th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTypeTable.TypeName)
                            </td>
                            <td>
                                @Html.ActionLink("編輯", "Edit", new { id = item.UserID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("內容", "Details", new { id = item.UserID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("刪除", "Delete", new { id = item.UserID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>  