@model IEnumerable<DatabaseAccess.TimeTblTable>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Time Table</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <h3>Student Time Table</h3>
        <table class="table table-bordered">
            <tr>
                <th>
                    Start Time
                </th>
                <th>
                    End Time
                </th>
                <th>
                    Day
                </th>
                <th>
                    Is Active
                </th>
                <th>
                    Class Subject
                </th>
                <th>
                    User
                </th>
                <th>
                    Staff Table
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Day)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassSubjectTable.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserTable.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StaffTable.Name)
                    </td>

                </tr>
            }

        </table>
    </div>
</body>
</html>
