@model IEnumerable<DatabaseAccess.TimeTblTable>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Wise Time Table</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <h3>全校教師課表</h3>
        <table class="table table-bordered">
            <tr>
                <th>
                    教師
                </th>
                <th>
                    課程
                </th>
                <th>
                    星期
                </th>
                <th>
                    開始
                </th>
                <th>
                    結束
                </th>

            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassSubjectTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
        </tr>
            }

        </table>
    </div>
</body>
</html>
