@model IEnumerable<DatabaseAccess.ExpensesTable>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Attendance Time Table</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
        <a href="javascript:window.print()" class="btn btn-primary">Print Report</a>
        <h3>Teacher Time Table</h3>
        <table class="table table-bordered">
            <tr>
                <th>
                     Expenses Date 
                </th>
                <th>
                     Amount 
                </th>
                <th>
                     Reason 
                </th>
                <th>
                     Name
                </th>
                <th>
                    UserTable
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpensesDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseTypeTable.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserTable.FullName)
                    </td>
                    
                </tr>
            }

        </table>
    </div>
</body>
</html>
