@model IEnumerable<DatabaseAccess.SubmissionFeeTable>

@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    @@media print {
        .no-print-button, .no-print-from {
            display: none !important;
        }
    }
</style>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>報名費</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">

        @using (Html.BeginForm("DateSubmissionFee", "FeeReport", FormMethod.Post, htmlAttributes: new { @class = "form-inline no-print-from" }))
        {
            <div class="form-group">
                <label id="ReportBeginDate">起始日期</label>
                <input type="date" name="fromDate" class="form-control mb-2 mr-sm-2 mb-sm-0" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
            </div>

            <div class="form-group">
                <label id="ReportEndDate">結束日期</label>
                <input type="date" name="toDate" class="form-control mb-2 mr-sm-2 mb-sm-0" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
            </div>

            <input type="submit" value="查詢" class="btn btn-success" />
            <a href="javascript:window.print()" class="btn btn-primary pull-right no-print-button">列印</a>
        }

    <h3>報名費</h3>
        <table class="table table-bordered">
            <tr>
                <th>
                    學分數
                </th>
                <th>
                    繳費日
                </th>
                <th>
                    費用
                </th>
                <th>
                    詳細內容
                </th>
                <th>
                    班級
                </th>
                <th>
                    科系
                </th>
                <th>
                    學生
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubmissionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FeesMonth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassTable.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgrameTable.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentTable.Name)
                    </td>

                </tr>
            }
        </table>
    </div>
</body>
</html>
