@model DatabaseAccess.ExpensesTable

@{
    ViewBag.Title = "Delete";
}


<h3 class="text-danger">確定要刪除嗎?</h3>

<div>
    <h4>繳費時間</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpensesDate) 繳費日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpensesDate)
        </dd>

        <dt>
            金額
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            原因
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            繳費方式
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseTypeTable.Name)
        </dd>

        <dt>
            登入人員
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-danger" />
            @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
