@model IEnumerable<DatabaseAccess.ExpensesTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpensesDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseTypeTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTable.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpensesDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseTypeTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserTable.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExpensesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExpensesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExpensesID })
        </td>
    </tr>
}

</table>
