@model DatabaseAccess.SessionTable

@{
    ViewBag.Title = "Session";
}
<div>
    <h4>學年度</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            學年度
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            開始日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            結束日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            登入人員
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("更新", "Edit", new { id = Model.SessionID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
</p>
