@model IEnumerable<DatabaseAccess.ExamMarksTable>

@{
    Layout = null;
}

<!DOCTYPE html>

<style>
    @@media print {
        .no-print-button, .no-print-from {
            display: none !important;
        }
    }
</style>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>考試成績</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">

        @using (Html.BeginForm("PrintDMC", "ExamReport", FormMethod.Post, htmlAttributes: new { @class = "form-inline no-print-from" }))
        {
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownList("ExamID", null, htmlAttributes: new { @class = "form-control", @id = "ExamID",@name= "ExamID",@required= "required" })
                </div>
            </div>
            <div class="form-group">
                <label>學號</label>
                <input type="text" name="promoteid" class="form-control mb-2 mr-sm-2 mb-sm-0" id="promoteid" required />
            </div>


            <input type="submit" value="Submit" class="btn btn-success" />
            <a href="javascript:window.print()" class="btn btn-primary pull-right no-print-button">Print Report</a>
        }

    <h3>考試成績</h3>
        <table class="table table-bordered">
            <tr>
                <th>
                    學生
                </th>
                <th>
                    考試
                </th>
                <th>
                    課程
                </th>
                <th>
                    獲得分數
                </th>
                <th>
                    總分
                </th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamTable.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassSubjectTable.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ObtainMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMarks)
            </td>


        </tr>
            }

        </table>
    </div>
</body>
</html>
