@model DatabaseAccess.ClassSubjectTable

@{
    ViewBag.Title = "Subject";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>課程</title>
</head>
<body>
    <h3 class="text-danger">確定要刪除嗎?</h3>
    <div>
        <h4>課程</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                班級
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassTable.Name)
            </dd>

            <dt>
                科目
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubjectTable.Name)
            </dd>
            <dt>
                課程
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                狀態
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
    <div class="form-actions no-color">
        <input type="submit" value="刪除" class="btn btn-danger" />
        @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
    </div>
        }
    </div>
</body>
</html>
