@model DatabaseAccess.ClassSubjectTable

@{
    ViewBag.Title = "Subject";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>課程</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                班級
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassTable.Name)
            </dd>

            <dt>
                科目
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubjectTable.Name)
            </dd>
            <dt>
                課程
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                狀態
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>



        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "編輯", new { id = Model.ClassSubjectID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
    </p>
</body>
</html>
