@model DatabaseAccess.ExamMarksTable

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ExamMarksTable</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Enter Promote ID" id="promoteid" />
                    <input type="button" class="btn btn-primary" value="Find" id="FindPromoteRecord" />
                </div>
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MarksID)

        <div class="form-group">
            @Html.LabelFor(model => model.ExamID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExamID, new { htmlAttributes = new { @class = "form-control", @id = "ExamID" } })
                @Html.ValidationMessageFor(model => model.ExamID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClassSubjectID, "ClassSubjectID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClassSubjectID", null, htmlAttributes: new { @class = "form-control", @id = "ClassSubjectID" })
                @Html.ValidationMessageFor(model => model.ClassSubjectID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentID, "StudentID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentID", null, htmlAttributes: new { @class = "form-control", @id = "StudentID" })
                @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalMarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalMarks, new { htmlAttributes = new { @class = "form-control", @id = "TotalMarks" } })
                @Html.ValidationMessageFor(model => model.TotalMarks, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ObtainMarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ObtainMarks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ObtainMarks, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#FindPromoteRecord').click(function () {
            $('#ClassSubjectID').html('');
            $('#StudentID').html('');
            $.ajax({
                url: '@Url.Action("GetByPromotID", "ExamMarksTables")',
                type: 'GET',
                data: { sid: $('#promoteid').val() },
                dataType: 'Json',
                success: function (response) {
                    console.log(response);
                    for (var i = 0; i < response.students.length; i++) {
                        $('#StudentID').append("<option value =" + response.students[i].StudentID + ">" + response.students[i].Name + "</option>");
                    }
                    for (var i = 0; i < response.subjects.length; i++) {
                        $('#ClassSubjectID').append("<option value =" + response.subjects[i].ClassSubjectID + ">" + response.subjects[i].Name + "</option>");
                    }
                },
                error: function (error) {
                }
            });
        });
        $('#ClassSubjectID').change(function () {

            $.ajax({
                url: '@Url.Action("GetTotalMarks", "ExamMarksTables")',
                type: 'GET',
                data: { sid: $(this).val() },
                dataType: 'Json',
                success: function (response) {
                    console.log(response);
                    $('#TotalMarks').val(response.data);
                },
                error: function (error) {
                }
            });
        });
    });
</script>
@Scripts.Render("~/bundles/jqueryval")
