@model IEnumerable<DatabaseAccess.ExamMarksTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObtainMarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassSubjectTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTable.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExamID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObtainMarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassSubjectTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserTable.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MarksID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MarksID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MarksID })
        </td>
    </tr>
}

</table>
