@model IEnumerable<DatabaseAccess.ExamMarksTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Exam Marks</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Exam ID
                        </th>
                        <th>
                            Total Marks
                        </th>
                        <th>
                            Obtain Marks
                        </th>
                        <th>
                            Class Subject
                        </th>
                        <th>
                            Student
                        </th>
                        <th>
                            User
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExamTable.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalMarks)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ObtainMarks)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClassSubjectTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.FullName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MarksID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.MarksID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.MarksID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

            </table>
        </div>
    </div>
</div>
