@model DatabaseAccess.SubjectTable

@{
    ViewBag.Title = "Subject";
}

<h3 class="text-danger">確定要刪除嗎?</h3>
<div>
    <h4>科目</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            科目
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            註冊日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegDate)
        </dd>

        <dt>
            內容
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            費用
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>

        <dt>
            登入人員
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-danger" />
            @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
