@model DatabaseAccess.SubjectTable

@{
    ViewBag.Title = "Subject";
}

<div>
    <h4>科目</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            科目
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            註冊日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegDate)
        </dd>

        <dt>
            內容
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            費用
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>

        <dt>
            登入人員
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.SubjectID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })

</p>
