@{
    ViewBag.Title = "儀錶板";

    //1   Admin 最高權限
    //2   Operator 操作員
    //3   Teacher 教員
    //4   Student 學生
    //5   Accountant 會計
    //6   Employee 職員
    int usertypeid = Convert.ToInt32(Convert.ToString(Session["UserTypeID"]));

}
@*<h3>@ViewBag.Message</h3>*@
@if (usertypeid == 1)
{
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    學生管理
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("Create", "StudentTables")">
                                <i class="fas fa-user-graduate fa-2x"></i>
                                <p>註冊</p>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("Create", "StudentPromoteTables")">
                                <i class="fas fa-user fa-2x"></i>
                                <p>學分</p>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("Create", "ExamTables")">
                                <i class="fas fa-poll-h fa-2x"></i>
                                <p>考試</p>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("Index", "StudentTables")">
                                <i class="fas fa-user-friends fa-2x"></i>
                                <p>列表</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    教職員管理
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("Create", "StaffTables")">
                                <i class="fas fa-user-tie fa-2x"></i>
                                <p>註冊</p>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("Create", "StaffAttendanceTables")">
                                <i class="fas fa-chart-line fa-2x"></i>
                                <p>出勤</p>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("Index", "StaffTables")">
                                <i class="fas fa-users fa-2x"></i>
                                <p>列表</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    設定
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("Index", "UserTables")">
                                <i class="fas fa-user fa-2x"></i>
                                <p>全部使用者</p>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("Index", "UserTypeTables")">
                                <i class="fas fa-users fa-2x"></i>
                                <p>使用者角色</p>
                            </a>
                        </div>

                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("Index", "DesignationTables")">
                                <i class="fas fa-user-friends fa-2x"></i>
                                <p>職員職稱</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    會計
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("Create", "SubmissionFeeTables")">
                                <i class="fas fa-funnel-dollar fa-2x"></i>
                                <p>學分費</p>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("Create", "EmployeeSalaryTables")">
                                <i class="fas fa-funnel-dollar fa-2x"></i>
                                <p>薪資</p>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("Create", "ExpensesTables")">
                                <i class="fas fa-list fa-2x"></i>
                                <p>繳費</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    聯絡我們
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <a href="@Url.Action("SendEmail", "SendEmail")">
                                <i class="fas fa-desktop fa-2x"></i>
                                <p>Email</p>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
}
else
{
    <h1>歡迎來到校園資訊系統</h1>
}