<!DOCTYPE html>
<html>
<head>
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - SMS</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>校園資訊管理系統</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/AdminTemplate/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/AdminTemplate/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/AdminTemplate/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">管理者介面</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Student Registration
            </div>

            <!-- Nav Item - Student Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStudent"
                   aria-expanded="true" aria-controls="collapseStudent">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Student's</span>
                </a>
                <div id="collapseStudent" class="collapse" aria-labelledby="headingStudent" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Student Registration:</h6>
                        @Html.ActionLink("New Registration", "Create", "StudentTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Students Lists", "Index", "StudentTables", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Promotion:</h6>
                        @Html.ActionLink("Students Promote", "Index", "StudentPromoteTables", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Fee's:</h6>
                        @Html.ActionLink("Tution Fee", "Index", "SubmissionFeeTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Annual Fee", "Index", "StudentPromoteTables", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Student Attendance:</h6>
                        @Html.ActionLink("Student Attendance", "Index", "AttendanceTables", null, new { @class = "collapse-item" })


                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Staff Registration
            </div>

            <!-- Nav Item - Employee Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmployee"
                   aria-expanded="true" aria-controls="collapseEmployee">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Employee's</span>
                </a>
                <div id="collapseEmployee" class="collapse" aria-labelledby="headingEmployee" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Staff Registration:</h6>
                        @Html.ActionLink("Staff", "Index", "StaffTables", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Attendance:</h6>
                        @Html.ActionLink("Staff Attendance", "Index", "StaffAttendanceTables", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Salary:</h6>
                        @Html.ActionLink("Staff Salary", "Index", "EmployeeSalaryTables", null, new { @class = "collapse-item" })

                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>設定</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Setting</h6>
                        @Html.ActionLink("User Types", "Index", "UserTypeTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("全部使用者", "Index", "UserTables", null, new { @class = "collapse-item" })
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Session Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSession"
                   aria-expanded="true" aria-controls="collapseSession">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Session's</span>
                </a>
                <div id="collapseSession" class="collapse" aria-labelledby="headingSession"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>

                        @Html.ActionLink("Session", "Index", "SessionTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Programe Setting", "Index", "ProgrameSessionTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClass"
                   aria-expanded="true" aria-controls="collapseClass">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Class's</span>
                </a>
                <div id="collapseClass" class="collapse" aria-labelledby="headingClass"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>

                        @Html.ActionLink("Class", "Index", "ClassTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Class Subject Setting", "Index", "ClassSubjectTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Examination
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Exam Setting</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Exam Setting:</h6>
                        @Html.ActionLink("Exam Types", "Index", "ExamTables", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Examination:</h6>
                        @Html.ActionLink("Add Marks Sheet", "Index", "ExamMarksTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Event
            </div>

            <!-- Nav Item - Event Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEvent"
                   aria-expanded="true" aria-controls="collapseEvent">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Event Setting</span>
                </a>
                <div id="collapseEvent" class="collapse" aria-labelledby="headingEvent" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Event Setting:</h6>
                        @Html.ActionLink("Event", "Index", "EventTables", null, new { @class = "collapse-item" })

                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Time Table
            </div>

            <!-- Nav Item - TimeTable Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTimeTable"
                   aria-expanded="true" aria-controls="collapseTimeTable">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>ExpensesTables Setting</span>
                </a>
                <div id="collapseTimeTable" class="collapse" aria-labelledby="headingTimeTable" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Setting:</h6>
                        @Html.ActionLink("Set Time Table", "Index", "TimeTblTables", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Class Wise:</h6>
                        @Html.ActionLink("Time Table", "Index", "TimeTblTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Expense
            </div>

            <!-- Nav Item - Expense Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseExpense"
                   aria-expanded="true" aria-controls="collapseExpense">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Expense Setting</span>
                </a>
                <div id="collapseExpense" class="collapse" aria-labelledby="headingExpense" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Expense Type:</h6>
                        @Html.ActionLink("Expense Type", "Index", "ExpenseTypeTables", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Expenses:</h6>
                        @Html.ActionLink("Expenses", "Index", "ExpensesTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Reports
            </div>

            <!-- Nav Item - Report Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport"
                   aria-expanded="true" aria-controls="collapseReport">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Basic Reports</span>
                </a>
                <div id="collapseReport" class="collapse" aria-labelledby="headingReport" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">General Reports:</h6>
                        @Html.ActionLink("Student Reports", "#", "#", null, new { @class = "collapse-item" })
                        <h6 class="collapse-header">Teacher Reports:</h6>
                        @Html.ActionLink("Time Table", "TeacherReport", "TimeTableReports", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Teacher Reports:</h6>
                        @Html.ActionLink("Time Wise Table", "TeacherWiseReport", "TimeTableReports", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Student Reports:</h6>
                        @Html.ActionLink("Time Wise Table", "StudentReport", "TimeTableReports", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Adminstration Reports:</h6>
                        @Html.ActionLink("Apply Students List", "#", "#", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Examination Reports:</h6>
                        @Html.ActionLink("Print DMC", "#", "#", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Attendance Reports:</h6>
                        @Html.ActionLink("Student Attendance", "#", "#", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Teacher Attendance", "#", "#", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Fee's Reports:</h6>
                        @Html.ActionLink("Annual Fee Report", "#", "#", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Student Fee Report", "#", "#", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>
            @*測試資料*@
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Tests
            </div>

            <!-- Nav Item - Test Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTest"
                   aria-expanded="true" aria-controls="collapseTest">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Tests</span>
                </a>
                <div id="collapseTest" class="collapse" aria-labelledby="headingTest" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tests:</h6>
                        @Html.ActionLink("AnnualTables", "Index", "AnnualTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("AttendanceTables", "Index", "AttendanceTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("ClassSubjectTables", "Index", "ClassSubjectTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("ClassTables", "Index", "ClassTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("DesignationTables", "Index", "DesignationTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("ExamMarks", "Index", "ExamMarks", null, new { @class = "collapse-item" })
                        @Html.ActionLink("ExamTables", "Index", "ExamTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("ProgrameSessionTables", "Index", "ProgrameSessionTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("ProgrameTables", "Index", "ProgrameTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("SessionTables", "Index", "SessionTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("StaffAttendanceTables", "Index", "StaffAttendanceTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("StaffTables", "Index", "StaffTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("StudentPromoteTables", "Index", "StudentPromoteTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("StudentTables", "Index", "StudentTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("SubjectTables", "Index", "SubjectTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("SubmissionFeeTables", "Index", "SubmissionFeeTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("TimeTblTables", "Index", "TimeTblTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("UserTables", "Index", "UserTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("UserTypeTables", "Index", "UserTypeTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <!--<div class="sidebar-card">
        <img class="sidebar-card-illustration mb-2" src="~/Content/AdminTemplate/img/undraw_rocket.svg" alt="">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>-->

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->

                        </li>

                        <!-- Nav Item - Alerts -->




                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Session["UserName"]</span>
                                <img class="img-profile rounded-circle"
                                     src="~/Content/AdminTemplate/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Kuei 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->


    </div>

    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    @Html.ActionLink("登出", "Logout", "Home", null, new { @class="btn btn-primary"})
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/AdminTemplate/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/AdminTemplate/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/AdminTemplate/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/AdminTemplate/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/AdminTemplate/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/AdminTemplate/js/demo/chart-area-demo.js"></script>
    <script src="~/Content/AdminTemplate/js/demo/chart-pie-demo.js"></script>
    <!-- Page level plugins -->
    <script src="~/Content/AdminTemplate/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminTemplate/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/AdminTemplate/js/demo/datatables-demo.js"></script>

</body>
</html>
