@model IQueryable<MVC_SMS.ViewModels.EmployeeEducationTableVM>

<div class="card mb-4 shadow  border-secondary">
    <div class="card-header">
        教育
    </div>
    <div class="card-body">
        <div class="form-horizontal">
            <div class="row">
                @if (Model != null && Model.Any())
                {
                    foreach (var education in Model)
                    {

                        <div class="col-md-6">
                            <div class="form-group">
                                @string.Format("{0} : {1}", education.InstituteUniversity, education.TitleOfDiploma) @string.Format("{0: yyyy} - {1: yyyy}", education.FromYear, education.ToYear)
                                @education.Degree
                                @string.Format("{0} | {1}", @education.City, @education.Country)

                            </div> <!--END DETAILS-->
                        </div> <!--END BOX-->
                    }
                }
            </div> <!-- END PANEL BODY -->
        </div> <!-- END PANEL DEFAULT EDUCATION -->
    </div>
</div>
