@model MVC_SMS.ViewModels.EmployeeEducationTableVM


<div class="card mb-4 shadow">
    <div class="card-header">
        教育程度
    </div>
    <div class="card-body">
        <form>
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InstituteUniversity, "學校", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.InstituteUniversity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InstituteUniversity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TitleOfDiploma, "學系", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.TitleOfDiploma, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TitleOfDiploma, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Degree, "學位", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div id="datetimepicker1">
                                @Html.LabelFor(model => model.FromYear, "入學年度", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.FromYear, new { htmlAttributes = new { @class = "form-control", @placeholder = "From Year" } })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.FromYear, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div id="datetimepicker2">
                                @Html.LabelFor(model => model.ToYear, "畢業年度", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ToYear, new { htmlAttributes = new { @class = "form-control", @placeholder = "To Year" } })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.ToYear, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Country, "國家", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.Country, Model.ListOfCountry, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.City, "城市", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.City, new List<SelectListItem>(), new { @class = "form-control" })
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.EmployeeEducationID, new { @class = "form-control" })


                </div>
                <button type="button" id="AddOrUpdateEducation" class="btn btn-success"> <span class="glyphicon glyphicon-education" aria-hidden="true"></span>  新增學歷 </button>
                <a href="@Url.Action("WorkExperience", "Resume")" class="btn btn-success"> 下一步 >> 工作經歷 </a>
            </div>
        </form>
    </div>
</div>   <!-- END EDUCATION FIRST LEVEL-->
@Scripts.Render("~/bundles/jquery")
