@model MVC_SMS.ViewModels.EmployeeLanguageTableVM


<<div class="card mb-4 shadow">
    <div class="card-header">
        教育程度
    </div>
    <div class="card-body">
        <form>
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LanguageName, "語言", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.LanguageName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Language Name" } })
                            @Html.ValidationMessageFor(model => model.LanguageName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Proficiency, "等級", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.Proficiency, Model.ListOfProficiency, new { @class = "form-control", @placeholder = "Proficiency" })
                            @Html.ValidationMessageFor(model => model.Proficiency, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <button type="button" id="AddLanguage" class="btn btn-danger"> <span class="glyphicon glyphicon-list" aria-hidden="true"></span>  新增語言(可新增多個) </button>
                </div> <!-- END PANEL BODY-->
            </div>
        </form>
    </div>

</div>   <!-- END LANGUAGE FIRST LEVEL-->