@model MVC_SMS.ViewModels.EmployeeResumeTableVM
<style>
    #content {
        position: relative;
    }

        #content .img-circle {
            position: absolute;
            top: 15px;
            right: 20px;
        }
</style>
<div class="card mb-4 shadow border-info">
    <div class="card-header">
        個人資訊
    </div>
    <div class="card-body"  id="content">
        <div class="form-horizontal">
            <div class="row">

                <img src="@Url.Action("GetProfilImage", "Resume", new { id = Model.EmployeeResumeID})" alt="" class="img-circle" style="width: 100px; height: 100px; border: 3px solid #c1c1c1; " />
                
            

            <div class="col-md-6" style="display: inline-block;" >
                <div class="form-group">
                    姓名：@string.Format("{0}  {1}", Model.LastName, Model.FirstName)
                    <br />
                    生日：@string.Format("{0:yyyy/MM/dd}", Model.DateOfBirth)
                    <br />
                    國家 :@Model.Nationality
                    <br />
                    地址 : @Model.Address
                    <br />
                    電話 : @Model.Tel
                    <br />
                    E-mail : @Model.Email
                    <br />
                    最高學歷 : @Model.EducationalLevel
                    

                </div>
                </div> <!-- END PANEL BODY -->
            </div> <!-- END PANEL DEFAULT -->
        </div> <!-- END PANEL BODY -->
    </div>
</div>