@model MVC_SMS.ViewModels.EmployeeWorkExperienceTableVM


<div class="card mb-4 shadow">
    <div class="card-header">
        工作經驗
    </div>
    <div class="card-body">
        <form>
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Company, "公司", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, "職稱", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Country, "國家", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.Country, Model.ListOfCountries, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FromYear, "開始", htmlAttributes: new { @class = "control-label" })
                            <div id="datetimepicker1">
                                @Html.EditorFor(model => model.FromYear, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.FromYear, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ToYear, "結束", htmlAttributes: new { @class = "control-label" })
                            <div id="datetimepicker2">
                                @Html.EditorFor(model => model.ToYear, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.ToYear, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, "工作內容", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @rows = "6" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <button type="button" id="AddOrUpdateExperience" class="btn btn-success"> <span class="glyphicon glyphicon-book" aria-hidden="true"></span>  新增工作經驗(可新增多個) </button>
                <a href="@Url.Action("SkiCerfLang","Resume")" class="btn btn-success"> 下一步>> 技能 </a>
            </div> <!-- END PNEL BODY-->
        </form>
    </div>
</div>   <!-- END EDUCATION FIRST LEVEL-->
<!-- END CONTAINER -->
@Scripts.Render("~/bundles/jquery")