@model DatabaseAccess.TimeTblTable

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>課程時間</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            開始
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            結束
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            星期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            狀態
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            課程
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassSubjectTable.Name)
        </dd>

        <dt>
            教師
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffTable.Name)
        </dd>

        <dt>
            登入人員
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.TimeTableID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
</p>
