@model IEnumerable<DatabaseAccess.TimeTblTable>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">課程時間</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            開始
                        </th>
                        <th>
                            結束
                        </th>
                        <th>
                            星期
                        </th>
                        <th>
                            狀態
                        </th>
                        <th>
                            課程
                        </th>
                        <th>
                            教師
                        </th>
                        <th>
                            登入人員
                        </th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Day)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClassSubjectTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StaffTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.FullName)
                            </td>
                            <td>
                                @Html.ActionLink("編輯", "Edit", new { id = item.TimeTableID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("內容", "Details", new { id = item.TimeTableID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("刪除", "Delete", new { id = item.TimeTableID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

            </table>
        </div>
    </div>
</div>

