@model MVC_SMS.ViewModels.EmployeeResumeTableVM

@{
    ViewBag.Title = "Personnal Informtion";
}
<div class="card mb-4 shadow">
    <div class="card-header">
        個人資料
    </div>
    <div class="card-body">
        @using (Html.BeginForm("PersonnalInformtion", "Resume", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, "姓", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, "名", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div id="datetimepicker1">
                            @Html.LabelFor(model => model.DateOfBirth, "生日", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, "地址", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Tel, "電話", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Summary, "總結", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LinkedInProdil, "LinkedIn", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.LinkedInProdil, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LinkedInProdil, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FaceBookProfil, "FaceBook", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.FaceBookProfil, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.FaceBookProfil, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.C_CornerProfil, "C_Corner", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.C_CornerProfil, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.C_CornerProfil, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TwitterProfil, "Twitter", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.TwitterProfil, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TwitterProfil, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nationality, "國家", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Nationality, Model.ListNationality, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EducationalLevel, "教育程度", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.EducationalLevel, Model.ListEducationalLevel, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EducationalLevel, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>上傳照片</label>
                        <input type="file" name="ImageProfil" id="ImageProfil" />

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="新增個人資料 & 下一步>> 教育程度" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
            }
        </div>
</div>


