
@{
    ViewBag.Title = "Ski CerfLang";
}

<div class="container">
    @{ Html.RenderAction("SkillsPartial", "Resume");}

    @{ Html.RenderAction("CertificationsPartial", "Resume");}
    @{ Html.RenderAction("LanguagePartial", "Resume");}
</div>
<div>
    @Html.ActionLink("Back to Deshboard", "Index", "StaffTables")
</div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
        $(document).ready(function () {
            $('#AddSkill').on('click', function () {
                var skill = {
                    SkillName: $('#SkillName').val()
                };
                AddNewEntity("@Url.Action("AddSkill","Resume")", 'POST', skill);
            });
            $('#AddCertification').on('click', function () {
                var certification = {
                    CertificationName: $('#CertificationName').val(),
                    CertificationAuthority: $('#CertificationAuthority').val(),
                    LevelCertification: $('#LevelCertification').val(),
                    FromYear: $('#FromYear').val(),
                };
                AddNewEntity("@Url.Action("AddCertification", "Resume")", 'POST', certification);
            });
            $('#AddLanguage').on('click', function () {
                var language = {
                    LanguageName: $('#LanguageName').val(),
                    Proficiency: $('#Proficiency').val(),
                };
                AddNewEntity("@Url.Action("AddLanguage", "Resume")", 'POST', language);
            });
            function AddNewEntity(action, type, model) {
                $.ajax({
                    url: action,
                        type: type,
                        data: model,
                    success: function (response) {
                        alert(response.data);
                    },
                    error: function (error) {
                        alert(error.data);
                    }
                });
            }
        });
</script>
