@model DatabaseAccess.StudentPromoteTable

@{
    ViewBag.Title = "Delete";
}
<h3 class="text-danger">確定要刪除嗎?</h3>

<div>
    <h4>學分費</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromoteDate)
        </dd>

        <dt>
            費用
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualFee)
        </dd>

        <dt>
            狀態
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            送出
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSubmit)
        </dd>

        <dt>
            班級
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassTable.Name)
        </dd>

        <dt>
            課程
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgrameSessionTable.Details)
        </dd>

        <dt>
            班別
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionTable.SectionName)
        </dd>

        <dt>
            學生
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentTable.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
