@model IEnumerable<DatabaseAccess.StudentPromoteTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PromoteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSubmit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgrameSessionTable.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentTable.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PromoteDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnualFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSubmit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgrameSessionTable.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentTable.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentPromoteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentPromoteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentPromoteID })
        </td>
    </tr>
}

</table>
