@model IEnumerable<DatabaseAccess.StudentPromoteTable>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">學分費</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            日期
                        </th>
                        <th>
                            費用
                        </th>
                        <th>
                            狀態
                        </th>
                        <th>
                            送出
                        </th>
                        <th>
                            班級
                        </th>
                        <th>
                            課程
                        </th>
                        <th>
                            班別
                        </th>
                        <th>
                            學生
                        </th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PromoteDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AnnualFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.isActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsSubmit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClassTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProgrameSessionTable.Details)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SectionTable.SectionName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentTable.Name)
                            </td>
                            <td>
                                @Html.ActionLink("編輯", "Edit", new { id = item.StudentPromoteID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("內容", "Details", new { id = item.StudentPromoteID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("刪除", "Delete", new { id = item.StudentPromoteID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

