@model IEnumerable<DatabaseAccess.StaffAttendanceTable>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Staff Attendance Time Table</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
        <a href="javascript:window.print()" class="btn btn-primary">Print Report</a>
        <h3>Teacher Time Table</h3>
        <table class="table table-bordered">
            <tr>
                <th>
                    Attend Date
                </th>
                <th>
                    Coming Time
                </th>
                <th>
                    Closing Time
                </th>
                <th>
                    Staff Name
                </th>
                <th>
                    Designation
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttendDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClosingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StaffTable.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StaffTable.DesignationTable.Title)
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
