@model IEnumerable<DatabaseAccess.StaffAttendanceTable>

@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    @@media print {
        .no-print {
            display: none !important;
        }
    }
</style>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>全體教職員出勤</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
        <a href="javascript:window.print()" class="btn btn-primary no-print">列印</a>
        <h3>全體教職員出勤</h3>
        <table class="table table-bordered">
            <tr>
                <th>
                    日期
                </th>
                <th>
                    簽到
                </th>
                <th>
                    簽退
                </th>
                <th>
                    姓名
                </th>
                <th>
                    職稱
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttendDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClosingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StaffTable.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StaffTable.DesignationTable.Title)
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
