@model IEnumerable<DatabaseAccess.AttendanceTable>

@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    @@media print {
        .no-print {
            display: none !important;
        }
    }
</style>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>學生個人出勤</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
        <a href="javascript:window.print()" class="btn btn-primary no-print">列印</a>
        <h3>學生個人出勤</h3>
        <table class="table table-bordered">
            <tr>
                <th>
                    出勤學生
                </th>
                <th>
                    課程
                </th>
                <th>
                    日期
                </th>
                <th>
                    時間
                </th>


            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentTable.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassTable.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.AttendDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttendTime)
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
