@model IEnumerable<DatabaseAccess.StaffTable>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">全體教職員</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            全名
                        </th>
                        <th>
                            連絡方式
                        </th>
                        <th>
                            薪資
                        </th>

                        <th>
                            地址
                        </th>
                        <th>
                            照片
                        </th>
                        <th>
                            狀態
                        </th>

                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BasicSalary)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Photo))
                                {
                                    <img src="@Url.Content(item.Photo)" alt="Image" style="width:100px;height:150px;max-width:100px;height:auto" />
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>

                            <td>
                                @Html.ActionLink("編輯", "Edit", new { id = item.StaffID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("內容", "Details", new { id = item.StaffID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("新增履歷", "CheckCV", "Resume", new { id = item.StaffID }, new { @class = "btn btn-success" })
                                @Html.ActionLink("查看履歷", "CV", "Resume", new { id = item.StaffID }, new { @class = "btn btn-warning" })
                                @Html.ActionLink("出勤", "StaffAttendance", "AttendanceReports", new { id = item.StaffID }, new { @class = "btn btn-secondary", target = "_blank" })
                            </td>
                        </tr>
                    }

            </table>
        </div>
    </div>
</div>

